.bgimg {
/*    background-image: url('../../../assets/back.png');*/
    height: 130px;
    margin-top: 12px;
}

.cardInfo
{
  height: 300px;
  margin-bottom: 50px;
}


.cardVideo
{
  margin-bottom: 50px;
  margin-top: 30px;
}
