
<mat-grid-list cols="3" rowHeight="2:3"  style="margin-top: -1%">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile id="loginBox">

<mat-card class="example-card">
  <mat-card-header >
     <img mat-card-image src="assets/logo.png" style="width: 300px; height: 300px; max-width: 300px; max-height: 300px; margin-bottom: 0%">
  </mat-card-header>


  <mat-card-content style="color: grey">
  <div class="row">
    <div class="col s1">
      <mat-icon >person</mat-icon>
    </div>
    <div class="col s11">
      <input matInput placeholder="Correo Electronico" type="email" [(ngModel)]="user">
    </div>
  </div>

  <div class="row">
    <div class="col s1">
      <mat-icon >lock</mat-icon>
    </div>
    <div class="col s11">
      <input matInput placeholder="Contraseña" type="password" [(ngModel)]="password">
    </div>
  </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="row" style="margin-bottom: 1%">
      <div class="col s12" >
    <button mat-button style="width: 100%" (click)="login()">Iniciar Sesion</button>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
    <button mat-button style="width: 100%" (click)="register()">Registrarme</button>
      </div>
    </div>
  </mat-card-actions>

</mat-card>

  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
